@model List<EventuresWebApp.Services.Models.AllEvents>
@{
    ViewData["Title"] = "All";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center" style="font-weight: bold">All Events</h2>
<hr class="hr-2 bg-eventure" />
<table class="table">
    <thead class="">
        <tr class="row">
            <th class="col-md-1">#</th>
            <th class="col-md-3">Name</th>
            <th class="col-md-3">Start</th>
            <th class="col-md-3">End</th>
            <th class="col-md-2">Place</th>
        </tr>
    </thead>
    <tbody>
        @{int counter = 1;}
        @foreach (var item in Model)
        {
            <tr class="row">
                <th class="col-md-1">@counter</th>
                <th class="col-md-3">@item.Name</th>
                <th class="col-md-3">@item.Start.ToString("dd-MMM-yyyy hh:mm:ss")</th>
                <th class="col-md-3">@item.End.ToString("dd-MMM-yyyy hh:mm:ss")</th>
                <th class="col-md-2">@item.Place</th>
            </tr>
            counter++;
        }
    </tbody>
</table>
<hr class="hr-2 bg-eventure" />
